<article class="project fade-in" style="background-image: url({{project.image}})">
  <h3 class="heading">{{project.project}}</h3>
  <div class="detail language">
    <span>Language(s):</span> {{project.language}}
  </div>
  <div class="detail repo">
    <span>Repository:</span> {{project.repo}}
  </div>
  <div class="detail host">
    <span>Hosted:</span> {{project.host}}
  </div>
  <div class="detail description">
    <span>Description:</span> {{project.description}}
  </div>
  
</article>